<div class="parent-div">
    <div class="card">

      <div class="mt-4 text-center">
          <h4>sign up.</h4>
          <div class="mt-3 inputbox"> <label class="form-check-label" >Your Email</label> <br><input type="text" class="form-control" name="" placeholder="Email"> <i class="fa fa-user"></i> </div>
          <div class="inputbox"><label class="form-check-label">Your Password</label> <br> <input type="text" class="form-control" name="" placeholder="Password"> <i class="fa fa-lock"></i> </div>
          <div class="mt-3 inputbox"> <label class="form-check-label" >Your Email</label> <br><input type="text" class="form-control" name="" placeholder="Email"> <i class="fa fa-user"></i> </div>
          <div class="inputbox"><label class="form-check-label">Your Password</label> <br> <input type="text" class="form-control" name="" placeholder="Password"> <i class="fa fa-lock"></i> </div>
      </div>
      <div class="d-flex justify-content-between">
          <div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> <label class="form-check-label" for="flexCheckDefault"> Keep me Logged in </label> </div>
          <div> <a href="#" class="forgot">Forgot Password?</a> </div>
      </div>
      <div class="mt-2"> <button class="btn btn-primary btn-block">Log In</button> </div>
    </div>
    </div>