<div class="page-header">
    <div class="container">
    <div class="row">
    <div class="col-lg-12">
    <div class="inner-header">
    <h3>Create Your account</h3>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    
    <section id="content" class="section-padding">
    <div class="container">
    <div class="row justify-content-center">
    <div class="col-lg-5 col-md-6 col-xs-12">
    <div class="page-login-form box">
    <h3>
    Create Your account
    </h3>
    <form class="login-form">
    <div class="form-group">
    <div class="input-icon">
    <i class="lni-user"></i>
    <input type="text" class="form-control" name="name" placeholder="Username">
    </div>
    </div>
    <div class="form-group">
    <div class="input-icon">
    <i class="lni-envelope"></i>
    <input type="text" class="form-control" name="email" placeholder="Email Address">
    </div>
    </div>
    <div class="form-group">
    <div class="input-icon">
    <i class="lni-lock"></i>
    <input type="password" class="form-control" placeholder="Password"> 
    </div>
    </div>
    <div class="form-group">
    <div class="input-icon">
    <i class="lni-unlock"></i>
    <input type="password" class="form-control" placeholder="Retype Password">
    </div>
    </div>
    <button class="btn btn-common log-btn mt-3">Register</button>
    <p class="text-center">Already have an account?<a href="login.html"> Sign In</a></p>
    </form>
    </div>
    </div>
    </div>
    </div>
    </section>