<div style="height: 90px ;"></div>
<div id="browse-jobs" class="section bg-gray">
    <div class="container">
    <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12">
    <div class="text-wrapper">
    <div>
    <h3>7,000+ Courses</h3>
    <p>Search all the open courses on the web. Get your best.  The right course is out there.</p>
    <a class="btn btn-common" href="#">Search course</a>
    </div>
    </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
    <div class="img-thumb">
    <img class="img-fluid" src="assets/img/search.png" alt="">
    </div>
    </div>
    </div>
    </div>
    </div>
    
    
