<div style="height: 90px ;"></div>
<div id="browse-jobs" class="section bg-gray">
    <div class="container">
    <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12">
    <div class="text-wrapper">
    <div>
    <h3>7,000+ Courses</h3>
    <p>Search all the open courses on the web. Get your best.  The right course is out there.</p>
    <a class="btn btn-common" href="#">Search course</a>
    </div>
    </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
    <div class="img-thumb">
    <img class="img-fluid" src="assets/img/search.png" alt="">
    </div>
    </div>
    </div>
    </div>
    </div>


       
    <div id="pricing" class="section bg-gray">
        <div class="container">
        <div class="section-header">
         <h2 class="section-title">Pricing Plan</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ellentesque dignissim quam et <br> metus effici turac fringilla lorem facilisis.</p>
        </div>
        <div class="row pricing-tables">
        <div class="col-lg-4 col-md-4 col-xs-12">
        <div class="pricing-table border-color-defult">
        <div class="pricing-details">
        <div class="icon">
        <i class="lni-rocket"></i>
        </div>
        <h2>Professional</h2>
        <ul>
        <li>Post 1 Job</li>
        <li>No Featured Job</li>
        <li>Edit Your Job Listing</li>
        <li>Manage Application</li>
        <li>30-day Expired</li>
        </ul>
        <div class="price"><span>$</span>0<span>/Month</span></div>
        </div>
        <div class="plan-button">
        <a href="#" class="btn btn-border">Get Started</a>
        </div>
        </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12">
        <div class="pricing-table pricing-active border-color-red">
        <div class="pricing-details">
        <div class="icon">
        <i class="lni-drop"></i>
        </div>
        <h2>Advance</h2>
        <ul>
        <li>Post 1 Job</li>
        <li>No Featured Job</li>
        <li>Edit Your Job Listing</li>
        <li>Manage Application</li>
        <li>30-day Expired</li>
        </ul>
        <div class="price"><span>$</span>20<span>/Month</span></div>
        </div>
        <div class="plan-button">
        <a href="#" class="btn btn-border">Get Started</a>
        </div>
        </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12">
        <div class="pricing-table border-color-green">
        <div class="pricing-details">
        <div class="icon">
        <i class="lni-briefcase"></i>
        </div>
        <h2>Premium</h2>
        <ul>
        <li>Post 1 Job</li>
        <li>No Featured Job</li>
        <li>Edit Your Job Listing</li>
        <li>Manage Application</li>
        <li>30-day Expired</li>
        </ul>
        <div class="price"><span>$</span>40<span>/Month</span></div>
        </div>
        <div class="plan-button">
        <a href="#" class="btn btn-border">Get Started</a>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        
    
    
