<div style="height: 170px ;"></div>
<div class="container">
<div class="row space-100">
<div class="col-lg-7 col-md-12 col-xs-12">
<div class="contents">
    <br><br>
<h2 class="head-title">Find the <br> job that fits your life</h2>
<p>Aliquam vestibulum cursus felis. In iaculis iaculis sapien ac condimentum. Vestibulum congue posuere lacus, id tincidunt nisi porta sit amet. Suspendisse et sapien varius, pellentesque dui non.</p>
<div class="job-search-form">

</div>
</div>
</div>
<div class="col-lg-5 col-md-12 col-xs-12">
<div class="intro-img">
<img src="assets/img/intro.png" alt="">
</div>
</div>
</div>
</div>
<section class="category section bg-gray">
    <div class="container">
    <div class="section-header">
    <h2 class="section-title">Browse Categories</h2>
    <p>Most popular categories of portal, sorted by popularity</p>
    </div>
    <div class="row">
    <div class="col-lg-3 col-md-6 col-xs-12 f-category">
    <a href="browse-jobs.html">
    <div class="icon bg-color-1">
    <i class="lni-home"></i>
    </div>
    <h3>Finance</h3>
    <p>(4286 jobs)</p>
    </a>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12 f-category">
    <a href="browse-jobs.html">
    <div class="icon bg-color-2">
    <i class="lni-world"></i>
    </div>
    <h3>Sale/Markting</h3>
    <p>(2000 jobs)</p>
    </a>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12 f-category">
    <a href="browse-jobs.html">
    <div class="icon bg-color-3">
    <i class="lni-book"></i>
    </div>
    <h3>Education/Training</h3>
    <p>(1450 jobs)</p>
    </a>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12 f-category">
    <a href="browse-jobs.html">
    <div class="icon bg-color-4">
    <i class="lni-display"></i>
    </div>
    <h3>Technologies</h3>
    <p>(5100 jobs)</p>
    </a>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12 f-category">
    <a href="browse-jobs.html">
    <div class="icon bg-color-5">
    <i class="lni-brush"></i>
    </div>
    <h3>Art/Design</h3>
    <p>(5079 jobs)</p>
    </a>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12 f-category">
    <a href="browse-jobs.html">
    <div class="icon bg-color-6">
    <i class="lni-heart"></i>
    </div>
    <h3>Healthcare</h3>
    <p>(3235 jobs)</p>
    </a>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12 f-category">
    <a href="browse-jobs.html">
    <div class="icon bg-color-7">
    <i class="lni-funnel"></i>
    </div>
    <h3>Science</h3>
    <p>(1800 jobs)</p>
    </a>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12 f-category">
    <a href="browse-jobs.html">
    <div class="icon bg-color-8">
    <i class="lni-cup"></i>
    </div>
    <h3>Food Services</h3>
    <p>(4286 jobs)</p>
    </a>
    </div>
    </div>
    </div>
    </section>
    
    
    
    
    
    
    
   
    
    <div id="pricing" class="section bg-gray">
    <div class="container">
    <div class="section-header">
     <h2 class="section-title">Pricing Plan</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ellentesque dignissim quam et <br> metus effici turac fringilla lorem facilisis.</p>
    </div>
    <div class="row pricing-tables">
    <div class="col-lg-4 col-md-4 col-xs-12">
    <div class="pricing-table border-color-defult">
    <div class="pricing-details">
    <div class="icon">
    <i class="lni-rocket"></i>
    </div>
    <h2>Professional</h2>
    <ul>
    <li>Post 1 Job</li>
    <li>No Featured Job</li>
    <li>Edit Your Job Listing</li>
    <li>Manage Application</li>
    <li>30-day Expired</li>
    </ul>
    <div class="price"><span>$</span>0<span>/Month</span></div>
    </div>
    <div class="plan-button">
    <a href="#" class="btn btn-border">Get Started</a>
    </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-12">
    <div class="pricing-table pricing-active border-color-red">
    <div class="pricing-details">
    <div class="icon">
    <i class="lni-drop"></i>
    </div>
    <h2>Advance</h2>
    <ul>
    <li>Post 1 Job</li>
    <li>No Featured Job</li>
    <li>Edit Your Job Listing</li>
    <li>Manage Application</li>
    <li>30-day Expired</li>
    </ul>
    <div class="price"><span>$</span>20<span>/Month</span></div>
    </div>
    <div class="plan-button">
    <a href="#" class="btn btn-border">Get Started</a>
    </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-12">
    <div class="pricing-table border-color-green">
    <div class="pricing-details">
    <div class="icon">
    <i class="lni-briefcase"></i>
    </div>
    <h2>Premium</h2>
    <ul>
    <li>Post 1 Job</li>
    <li>No Featured Job</li>
    <li>Edit Your Job Listing</li>
    <li>Manage Application</li>
    <li>30-day Expired</li>
    </ul>
    <div class="price"><span>$</span>40<span>/Month</span></div>
    </div>
    <div class="plan-button">
    <a href="#" class="btn btn-border">Get Started</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    
    <section id="blog" class="section">
    
    <div class="container">
    <div class="section-header">
    <h2 class="section-title">Blog Post</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ellentesque dignissim quam et <br> metus effici turac fringilla lorem facilisis.</p>
    </div>
    <div class="row">
    <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
    
    <div class="blog-item-wrapper">
    <div class="blog-item-img">
    <a href="single-post.html">
    <img src="assets/img/blog/img1.jpg" alt="">
    </a>
    </div>
    <div class="blog-item-text">
    <h3><a href="single-post.html">Tips to write an impressive resume online for beginner</a></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore praesentium asperiores ad vitae.</p>
    </div>
    <a class="readmore" href="#">Read More</a>
    </div>
     
    </div>
    <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
    
    <div class="blog-item-wrapper">
    <div class="blog-item-img">
    <a href="single-post.html">
    <img src="assets/img/blog/img2.jpg" alt="">
    </a>
    </div>
    <div class="blog-item-text">
    <h3><a href="single-post.html">Let's explore 5 cool new features in JobBoard theme</a></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore praesentium asperiores ad vitae.</p>
    </div>
    <a class="readmore" href="#">Read More</a>
    </div>
    
    </div>
    <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
    
    <div class="blog-item-wrapper">
    <div class="blog-item-img">
    <a href="single-post.html">
    <img src="assets/img/blog/img3.jpg" alt="">
    </a>
    </div>
    <div class="blog-item-text">
    <h3><a href="single-post.html">How to convince recruiters and get your dream job</a></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore praesentium asperiores ad vitae.</p>
    </div>
    <a class="readmore" href="#">Read More</a>
    </div>
    
    </div>
    </div>
    </div>
    </section>
    
    
    <section id="download" class="section bg-gray">
    <div class="container">
    <div class="row">
    <div class="col-lg-6 col-md-8 col-xs-12">
    <div class="download-wrapper">
    <div>
    <div class="download-text">
    <h4>Download Our Best Apps</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ellentesque dignissim quam et metus effici turac fringilla lorem facilisis, Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="app-button">
    <a href="#" class="btn btn-border"><i class="lni-MizTech"></i>Download <br> <span>From MizTech Store</span></a>
    <a href="#" class="btn btn-common btn-effect"><i class="lni-android"></i> Download <br> <span>From Play Store</span></a>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-6 col-md-4 col-xs-12">
    <div class="download-thumb">
    <img class="img-fluid" src="assets/img/app.png" alt="">
    </div>
    </div>
    </div>
    </div>
    </section>
   
    
    
    
    